.dark-gray {
    color: var(--dark-green-15, #1a3129);
}
.food-title {
    position: relative;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    font-weight: 700;

}
.food-category-container {
    display: flex;
    flex-direction: column;
    height: 25rem;
    gap: 3rem;
    border: 2px solid var(--dark-green-15, #1a3129);
}
.food-thumbnail {
    height: 30%;
    width: 100%;
}
.food-category-content {
    height: 70%;
}
.food-category-items {
    height: 20%;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 700;
}