.login-form {
  width: 25%;
  font-family: "Urbanist", sans-serif;
  color: var(--green-97, #fafdf2);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}
